<section>
  <p class="instructions">Welcome to trail populator. This project will populate... Lorem ipsum dolor
     sit amet consectetur adipisicing elit. Architecto nihil expedita, minus 
     facere eum minima illum. Quia necessitatibus cupiditate hic voluptate 
     aperiam nulla voluptas, possimus ut accusantium porro, quod quis.
  </p>
</section>

<style>
  p {
    text-align: center;
  }
</style>