<section class="content-section">

    <div class="visualizer">
        <script>
            const apiUrl = 'http://localhost:3000/api/data';
            fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                console.log('Data from server:', data);
                // Update your website with the received data
            })
            .catch(error => console.error('Error fetching data:', error));

        </script>
        <!-- <script type="module" src="public/scripts/traffic.js"></script> -->
    </div>
</section>

<style>
    /* Content Section */
    .content-section {
        display: flex;
    }

    .visualizer {
        flex: 1;
        padding: 20px;
        background-color: aliceblue;
    }

    .plant-list {
        flex: 1;
        padding: 20px;
    }
</style>
