<!-- <section>
    <h2>Content</h2>
    <p>Trail Information</p>
</section> -->
<section class="content-section">
    <div class="visualizer">
        
    </div>
    <div class="plant-list">
        <p>Plant List</p>
    </div>
</section>

<style>
    /* Content Section */
    .content-section {
        display: flex;
    }

    .visualizer {
        flex: 1;
        padding: 20px;
    }

    .plant-list {
        flex: 1;
        padding: 20px;
    }
</style>
